doctype html
html(ng-app='billably')
    head
        title Billably
        include section/includes
    body(ng-controller='main')
        .sidebar
            include section/sidebar
        .main
            include section/main
