doctype html
html(ng-app='billably')
    head
        title Billably
        include section/includes
    body(ng-controller='main')
        .app
            .sidebar
                include section/sidebar
            .main
                include section/main
        .status
            a(href="breadcrumb") ?
